{% extends "_base.html" %}

{% block content %}

<div class="container">
  <div class="jumbotron">
    <h1>Snippets</h1>
  </div>
{% if session.logged_in %}
  <div class="add-message">
    <h3>Add a new snippet:</h3>
    <form action="{{ url_for('messages.new_message') }}" method="POST">
      {{ form.csrf_token }}
    <p>
      {{ form.message_type(placeholder="Type") }}
      <br /><br />
      {{ form.message(placeholder="Snippet code", cols="75", rows="10") }} 
        {% if form.message.errors %}
        <span class="error">
          {% for error in form.message.errors %}
            {{ error }}
          {% endfor %}
        </span>
        {% endif %}
    </p>

    <p><input class="btn btn-default" type="submit" value="Submit" /></p>
    </form>
  </div>
{% endif %}

  {% for entry in entries %}
        {% if entry.message_type %}
    <p>
      <h3>
        {{ entry.message_type }}
        
    </h3> 
        {{entry.message}}
  </p>
        {% endif %}
  {% endfor %}
</div>
{% endblock %}
<script>
$(function() {

});
</script>
