{% extends "_base.html" %}

{% block content %}

<div class="container">
{% if session.logged_in %}
  <div class="add-message">
    <h3>Add a new project:</h3>
    <form action="{{ url_for('projects.new_project') }}" method="POST">
      {{ form.csrf_token }}
    <p>
      {{ form.project_type(placeholder="Type") }}
      <br /><br />
      {{ form.project_type(placeholder="Project", cols="75", rows="10") }} 
        {% if form.project_type.errors %}
        <span class="error">
          {% for error in form.project_type.errors %}
            {{ error }}
          {% endfor %}
        </span>
        {% endif %}
    </p>

    <p><input class="btn btn-default" type="submit" value="Submit" /></p>
    </form>
  </div>
{% endif %}
</div>
{% endblock %}
<script>
$(function() {

});
</script>
