adium-theme-ubuntu==0.3.4
bcrypt==2.0.0
cffi==1.6.0
Flask==0.10.1
Flask-Bcrypt==0.7.1
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
Pillow==3.1.2
pycparser==2.14
pygobject==3.20.0
pygpgme==0.3
PyOpenGL==3.0.2
Pyrex==0.9.8.5
scour==0.32
six==1.10.0
SQLAlchemy==1.0.12
unity-lens-photos==1.0
Werkzeug==0.11.9
WTForms==2.1
